*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    background:url("images/pic.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;
}

nav{
    width: 680px;
    height: 50px;
    margin: 150px auto;

}
.menu{
    width: 100%;
    height: 50px;
}
.menu li{

    width: 170px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.623);
    border: 1px solid #ffff;
    float: left;
    list-style: none;
    text-align: center;
    position: relative;
    cursor: pointer;
}
.menu a{
    line-height: 50px;
    text-decoration: none;
    color: #ffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
.menu li>ul{
    display: none;
}

.menu li:hover>ul{
    display: block;

}

.sub-menu , .inner-menu{
    position: absolute;
    margin-left: 170px;
    top: -2px;

}

li:hover{
    background-color: rgb(20, 220, 120);
}
